doctype html
include ../_head

body

  include ../_nav
  .masthead.masthead-small

  main.l-main
    section.post
      h1.post-title About
      .post-content
        p I am a web developer, formerly of the Pacific Northwest, currently living in the Atlanta, GA area.  I work for <a href="https://theice.com">Intercontinental Exchange</a>, where, among other things, I wrote and maintain the CSS for <a href="https://nyse.com">The New York Stock Exchange</a>.
        p I'm on Twitter as <a href="https://twitter.com/keithjgrant">@keithjgrant</a>.
  include ../_footer
