.article {
  margin-bottom: 3rem;

  & > pre {
    margin-left: calc(var(--article-inset, 1em) * -1);
    margin-right: calc(var(--article-inset, 1em) * -1);
    padding: 1rem var(--article-inset);
    border-radius: 0.3em;
    overflow: auto;
    color: $gray-9;
    background-color: $gray-3;
  }

  & > :matches(ol, ul) {
    padding-left: 1em;
  }

  /* codepen embed */
  & > .cp_embed_wrapper {
    margin: 0 calc(var(--article-inset, 1em) * -1);
  }
}

.article__wide {
  grid-column: wide;
}
