:root {
  box-sizing: border-box;

  @media (min-width: 500px) {
    font-size: 1.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  color: $blue-1;
  background-color: $gray-1;
  line-height: 1.7;
  font-family: $serif;
  letter-spacing: 0.01em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: $blue-2;
  font-family: $sans-serif;
  letter-spacing: -0.02em;

  & a:any-link {
    color: inherit;
    font: inherit;
  }
}

h1 {
  font-size: 2rem;
}

a {
  color: $blue-rich-5;
  transition: color 0.1s linear;
  text-decoration-skip: none;
}

a:visited {
  color: $blue-5;
  transition: color 0.1s linear;
}

a:hover {
  color: $blue-rich-4;
}

a:active {
  color: $red-4;
}

:matches(h1, h2, h3) a {
  text-decoration: none;
  text-decoration-skip: ink;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

input,
button {
  font: inherit;
}

code {
  font-size-adjust: 0.45;
}

pre > code {
  color: $gray-8;
  font-family: $monospace;
  font-size-adjust: 0.45;
  line-height: 1.5;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

::selection {
  background-color: $red-6;
}

hr {
  position: relative;
  width: 0.6rem;
  height: 0.6rem;
  border: 0;
  border-radius: 50%;
  background-color: $blue-rich-4;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0.6rem;
    height: 0.6rem;
    border: 0;
    border-radius: 50%;
  }

  &::before {
    left: -1.4rem;
    background-color: $blue-rich-5;
  }

  &::after {
    right: -1.4rem;
    background-color: $blue-rich-3;
  }
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.svg-link:any-link {
  text-decoration: none;
}
.svg-link + .svg-link {
  margin-left: 0.4em;
}
