:root {
  box-sizing: border-box;
  font-size: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--blue-1);
  background-color: var(--yellow-9);
  font-family: Fira Sans, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--blue-2);
  font-family: Martel, serif;

  & a:any-link {
    color: inherit;
  }
}

h1 {
  font-size: 2rem;
}

a:link {
  color: var(--blue-rich-2);
  font-weight: bold;
  text-decoration-skip: ink;
}

a:visited {
  color: var(--blue-rich-1);
}

a:hover {
  color: var(--blue-rich-3);
}

a:active {
  color: var(--red-4);
}

:matches(h1, h2, h3) a:link {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

input,
button {
  font: inherit;
}

code {
  font-size-adjust: 0.45;
}

::selection {
  background-color: var(--red-6);
}
