@font-face {
  font-family: 'Glober';
  font-weight: normal;
  src: url('/css/Glober_Regular.woff2');
}

@font-face {
  font-family: 'Glober';
  font-weight: bold;
  /*src: url('/css/Glober_Bold.woff2');*/
  src: url('/css/Glober_XBold.woff');
  /*src: url('/css/Glober_Heavy.woff2');*/
}
