.nav-links {
  display: flex;
  margin-right: -1rem;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
}

.nav-links > li > a {
  display: block;
  padding: 1em 1em 0;
  color: inherit;
  font-size: 0.85rem;
  /*font-family: Martel, serif;*/
  font-weight: normal;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  text-decoration: none;
}
