.nav-links {
  display: flex;
  margin: 0;
  padding: 0.5rem 0.6rem;
  font-family: $sans-serif;
  list-style: none;
  justify-content: space-between;

  @media (min-width: 700px) {
    padding: 0 2em 0 0;
  }
}

.nav-links > li {
  & > a {
    display: block;
    padding: 0.4em 0.4em 0.1em;
    border: 2px solid transparent;
    border-radius: 2em;
    color: $blue-7;
    font-size: 0.64rem;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: border-color 0.4s linear, color 0.6s linear;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      border-color: $blue-6;
      color: $white;
      transition: color 0.6s linear;
    }

    &.loading-indicator {
      color: transparent;

      &::before {
        position: absolute;
        top: 0.6em;
        left: 50%;
        margin-left: -0.5em;
        background-color: $blue-7;
      }
    }
  }

  & + li {
    margin-left: 0.1em;
  }

  @media (min-width: 500px) {
    & > a {
      padding-left: 1em;
      padding-right: 1em;
    }

    & + li {
      margin-left: 0.4em;
    }
  }
}

.nav-links__external > a:any-link {
  color: $blue-5;
}
