.note {
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-family: $sans-serif;
  cursor: pointer;
}

.note__date {
  text-align: right;

  & > a:any-link {
    font-weight: 100; /* TODO */
    text-decoration: none;
  }
}

.note__body {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.note-highlight {
  & .note {
    color: var(--white);
    background-color: var(--blue-rich-5);
    background-image: linear-gradient(
      to bottom,
      var(--blue-rich-5),
      var(blue-rich-3)
    );
  }
}

.note-highlight__body {
  padding: 1rem 2rem;
  border-radius: 0.3rem 0.3rem 0 0;
  color: var(--white);
  background-color: var(--blue-rich-3);
  background-image: linear-gradient(
    to bottom,
    var(--blue-rich-4),
    var(--blue-rich-3)
  );
  word-break: break-word;

  & a:any-link {
    color: var(--yellow-5);
    text-decoration-skip: ink;
  }

  & a:hover,
  & a:focus {
    color: var(--yellow-4);
  }

  & a:active {
    color: var(--red-4);
  }
}

.note-highlight__footer {
  border-radius: 0 0 0.3rem 0.3rem;
  color: var(--blue-1);
  background-color: var(--white);
}
