.note {
  padding: 1rem 2rem;
  border-top: 1px solid var(--gray-8);
}

.note-highlight {
  & .note {
    color: var(--white);
    background-color: var(--blue-rich-5);
    background-image: linear-gradient(
      to bottom,
      var(--blue-rich-5),
      var(blue-rich-3)
    );
  }
}

.note-highlight__body {
  padding: 1rem 2rem;
  color: var(--white);
  background-color: var(--blue-rich-3);
  background-image: linear-gradient(
    to bottom,
    var(--blue-rich-4),
    var(--blue-rich-3)
  );
  word-break: break-word;

  & a:any-link {
    color: var(--yellow-5);
    text-decoration-skip: ink;
  }

  & a:hover,
  & a:focus {
    color: var(--yellow-4);
  }

  & a:active {
    color: var(--red-4);
  }
}

.note-highlight__footer {
  color: var(--blue-1);
  background-color: var(--white);
}
