.post-summary {
  height: 100%; /* fill grid cell */
  padding: 2.4rem 1.56rem;
  border-radius: 0.8rem;
  border-radius: 50% / 1.6rem;
  background-color: $white;
  cursor: pointer;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &.loading-indicator {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -0.5em;
      background-color: $blue-3;
    }
  }
}

.post-summary__title {
  margin-bottom: 0.8rem;
  line-height: 1.1;
}

.post-summary__date {
  display: block;
  margin-top: 1em;
  color: $blue-5;
  text-align: right;
}

.post-summary__body {
  font-size: 0.8rem;
  line-height: 1.6;

  & > div > pre {
    padding: 1rem;
    border-radius: 0.3em;
    color: $gray-9;
    background-color: $gray-3;
  }
}
