/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*='language-'],
pre[class*='language-'] {
  background: none;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--gray-2);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: var(--gray-6);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--yellow-5);
}

.token.boolean,
.token.number,
.token.variable {
  color: var(--blue-5);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--blue-6);
}

.token.string {
  color: var(--yellow-sub-5);
}

.token.operator,
.token.entity,
.token.url,
.token.important {
  color: var(--gray-5);
}

.token.atrule,
.token.attr-value,
.token.regex {
  color: var(--red-sub-5);
}

.token.function {
  color: var(--blue-6);
}

.token.keyword {
  color: var(--blue-5);
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.pseudo-element,
.token.keyword-this {
  color: var(--red-5);
}

.token.keyword-try,
.token.keyword-catch,
.token.keyword-await {
  color: var(--gray-5);
}

.token.class-name {
  color: var(--blue-6);
}

code[class*='language-css'],
pre[class*='language-css'] {
  color: var(--blue-5);

  & .token.function {
    color: var(--red-sub-5);
  }
}

code[class*='language-js'],
pre[class*='language-js'] {
  color: var(--blue-5);

  & .token.keyword {
    color: var(--gray-5);
  }
}
