.reply {
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-columns: 2.4em auto;
  font-family: $sans-serif;

  & > * {
    grid-column-start: 2;
  }

  & img {
    position: relative;
    grid-column-start: 1;
    grid-row: span 2;
    width: 2.4em;
    height: 2.4em;

    /* style missing images */
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
      display: block;
      border: 1px solid var(--gray-7);
      background: transparent url('/images/anon-avatar.png');
    }
  }

  & .reply__meta {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  & a {
    font-weight: normal;
    text-decoration: none;
    text-decoration-skip: initial;

    &:hover {
      text-decoration: underline;
    }
  }
}

a.reply__date {
  color: var(--gray-6);
  font-size: 0.8rem;
}

.reply--large {
  grid-column-gap: 1.25em;
  grid-template-columns: 2.4em auto auto;
  align-items: baseline;

  & img {
    align-self: stretch;
  }

  & .reply__meta {
    grid-column: 3;
    justify-self: end;
  }

  & .reply__content {
    grid-column: span 2;
  }
}
