.reply {
  position: relative;
  display: flex;
  font-family: $sans-serif;
  align-items: center;
}

.reply__bar {
  display: block;
  flex-grow: 1;
  margin-right: -1rem;
  padding-right: 2em;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.8rem;
  line-height: 1;
  /*box-shadow: 0.1em 0.2em 0.1em hsl(179, 50%, 35%, 0.3);*/
  box-shadow: 0 2px 2px hsl(179, 50%, 35%, 0.16),
    0 0 0 1px hsl(179, 50%, 35%, 0.08);

  /* prettier-ignore */
  @nest
  a:link& {
    text-decoration: none;

    & .reply__author,
    & .reply__date {
      padding: 0.6rem 1.3rem 0.6rem 1rem;
      color: var(--blue-rich-3);
      font-weight: normal;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }

    & .reply__date {
      position: absolute;
      top: 0.6em;
      right: 1em;
      left: 0;
      color: var(--gray-6);
      font-size: 0.8rem;
      font-weight: normal;
      transform: translateY(1em);
      opacity: 0;
      text-decoration: none;
    }
  }

  &:hover {
    box-shadow: 0 3px 8px hsl(179, 50%, 35%, 0.2),
      0 0 0 1px hsl(179, 50%, 35%, 0.08);
  }
}

a.reply__bar:hover,
a.reply__bar:focus {
  & .reply__author {
    transform: translateY(-1em);
    opacity: 0;
  }

  & .reply__date {
    transform: translateY(0);
    opacity: 1;
  }
}

.reply__avatar {
  z-index: 1;

  & > img {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.6rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 25%;
    box-shadow: 0 2px 1px hsl(179, 65%, 18%, 0.1);
  }

  &:hover > img,
  &:focus > img {
    box-shadow: 0 2px 2px hsl(179, 65%, 18%, 0.2),
      0 0 1px hsla(179, 65%, 18%, 0.1);
  }
}
