@import 'fonts';
@import 'variables';
@import 'base';
@import 'prism';
@import 'typography';
@import 'layout';
@import 'main-header';
@import 'main-title';
@import 'article';
@import 'nav-links';
@import 'post-date';
@import 'post-interaction';
@import 'note';
@import 'tabs';
@import 'footer';
@import 'inline-form';
@import 'replies';
@import 'reply';
@import 'comment';

.capsule-head {
  background-color: var(--blue-rich-3);
  background-image: linear-gradient(
    180deg,
    var(--blue-rich-4),
    var(--blue-rich-3)
  );
  color: rgba(255, 255, 255, 0.7);
}
