$tab-border: $gray-7;

.tabs {
  display: flex;
  border-bottom: 1px solid $tab-border;

  & > button {
    margin-bottom: -1px;
    padding: 0.6em 1.2em 0.4em;
    border: 1px solid $tab-border;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    color: $blue-4;
    background: transparent;
    font-size: 0.8rem;
    font-family: $sans-serif;
    cursor: pointer;

    & svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 5;
    }

    &.tabs__repost svg {
      width: 1.3em;
      vertical-align: -0.2em;
      stroke-width: 10;
    }

    &.is-active,
    &:hover {
      background-color: $white;

      & svg path {
        fill: currentColor;
        stroke-width: 0;
      }

      &.tabs__reply {
        color: $blue-rich-4;
      }

      &.tabs__like {
        color: $red-4;
      }

      &.tabs__repost {
        color: $green-4;
      }
    }
  }

  & > button + button {
    border-left: 0;
  }

  & > button.is-active {
    border-bottom: 0;
  }

  & svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.3em;
  }
}

.tab-pane {
  display: none;
  font-size: 1rem;
}

.tab-pane.is-active {
  display: block;
}

.tabs--light {
  & > button {
    border-radius: 0;
  }

  & .tabs__reply {
    flex-grow: 1;
  }
}

.tab-pane--light {
  padding: 1em;

  & .tab-pane__banner {
    margin: 0 -1rem 2rem;
    padding: 0.4rem 1rem;
    background-color: $blue-9;
  }
}
