.top-nav {
  max-width: $container-wide;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
}

.nav-links > li > a {
  display: block;
  padding: 1em;
  color: inherit;
  font-size: 0.85rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
