.welcome {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 1.56rem 0;
  padding: 3rem var(--right-margin) 3.4rem 40%;
  border-radius: 50% / 1.6rem;
  color: var(--blue-3);
  background-repeat: no-repeat;
  background-size: auto 90vmin;
  background-color: white;
  background-image: url('/images/owl_x.jpg');
  background-position: 0% 50%;
  background-position: calc(50% - 20vw) 50%;
  font-family: $serif;
  font-size: 1.25rem;
  font-feature-settings: 'kern' 1, 'liga' 1, 'swsh' 1;
  line-height: 1.2;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 1em var(--blue-1);

  @media (min-width: 400px) {
    background-size: auto 80vmin;
    font-size: 1.56rem;
  }

  @media (min-width: 750px) and (min-height: 600px) {
    padding: 0 var(--right-margin) 0.4rem 50%;
    font-size: 2rem;
    padding-top: 0;
  }
}
