<!doctype html>
<html lang="en">
<head>
  {{ partial "meta.html" . }}
</head>
<body class="h-feed">
  {{ partial "header.html" . }}

  <div class="l-list">
    <div class="l-list__inner">
      <h1 class="list-heading">{{ .Title }}</h1>
      {{ range .Paginator.Pages }}
        {{ if eq .Section "posts" }}
          {{ partial "post-summary.html" . }}
        {{ else }}
          {{ partial "note-short.html" . }}
        {{ end }}
      {{ end }}

      {{ partial "pagination.html" . }}
    </div>
  </div>

  {{ partial "footer.html" }}
</body>
</html>
