<!doctype html>
<html lang="en">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <article class="l-article h-entry">
    <div class="l-article__inner">
      <h1 class="main-title p-name"><a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>

      {{ partial "in-reply-to" . }}
      {{ partial "repost-of" . }}
      {{ partial "like-of" . }}
      <p class="post-date metadata text-right"><date class="dt-published">{{ dateFormat "02 Jan 2006" .Date.Local}}</date></p>
      <main class="article show-embeds e-content">
        {{ .Content }}
        {{ if not (eq .Section "posts") }}
          <data class="p-bridgy-omit-link" value="false" />
        {{ end }}
        {{ if not (eq .Section "posts") }}
          <a href="https://brid.gy/publish/twitter"></a>
        {{ end }}
      </main>
      {{ if not (eq .Section "likes") }}
        {{ partial "interactions.html" . }}
      {{ end }}
    </div>
  </article>

  <!--
  {{ if eq .Section "posts" }}
    {{ partial "recent-posts.html" . }}
  {{ end }}
-->
  {{ partial "footer.html" }}
</body>
</html>
