{{ partial "svg.html" }}
<header class="main-header">
  <div class="h-card {{ if not (eq .URL "/") }} p-author{{ end }}">
    <h1 class="title-bar">
      <!-- TODO <a class="p-name u-url" href="https://keithjgrant.com"> -->
      <a class="u-url" href="/">
        {{ partial "svg/logo.html" }}
        <span class="p-name">Keith J. Grant</span>
      </a>
    </h1>
    <img class="title-avatar u-photo" src="/images/keithjgrant.jpg"/>
  </div>

  <nav class="main-header__nav top-nav">
    <ul class="nav-links">
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/talks/">Talks</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li class="nav-links__external"><a href="https://www.manning.com/books/css-in-depth?a_aid=kjg">CSS in Depth</a></li>
    </ul>
  </nav>
</header>
