{{ partial "svg.html" }}
<header class="main-header h-card{{ if not (eq .URL "/") }} p-author{{ end }}">
  <div class="h-card">
    <h1 class="title-bar">
      <!-- TODO <a class="p-name u-url" href="https://keithjgrant.com"> -->
      <a class="p-name u-url" href="/">
        {{ partial "svg/logo.html" }}
        Keith J. Grant
      </a>
    </h1>
    <img class="title-avatar u-photo" src="/images/keithjgrant.jpg"/>
  </div>

  <nav class="main-header__nav top-nav">
    <ul class="nav-links">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/social">Social</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="https://www.manning.com/books/css-in-depth">CSS in Depth</a></li>
    </ul>
  </nav>
</header>
