<div class="loading-indicator" id="comments-loader" style="display: none;">
  <svg class="interaction-icon"><use xlink:href="#icon-loading"></use></svg>
  <div>Loading interactions...</div>
</div>
<div class="post-interaction is-hidden" id="comments">
  <div class="tabs">
    <button class="tabs__reply js-tab" aria-controls="pane-replies">
      {{ partial "svg/comment.html" }}
      <span id="reply-count">3 replies</span>
    </button>
    <button class="tabs__like js-tab" aria-controls="pane-likes">
      {{ partial "svg/heart.html" }}
      <span id="like-count">5 likes</span>
    </button>
    <button class="tabs__repost js-tab" aria-controls="pane-shares">
      {{ partial "svg/repost.html" }}
      <span id="share-count">3 shares</span>
    </button>
  </div>
  <div class="tab-pane " id="pane-replies" aria-controlled-by="tab-replies">
    <h3>Replies</h3>
    <form id="webmention-form" class="inline-form content" method="post" action="https://webmention.io/keithjgrant.com/webmention">
      <input type="hidden" name="target" value="{{ .Permalink }}" />
      <label for="reply-url">Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL:</label>
      <div class="inline-form__inputs">
        <input type="text" id="reply-url" name="source" placeholder="https://example.com/my-post" />
        <button type="submit" id="webmention-submit">Send Webmention</button>
      </div>
      <p class="form-alert is-hidden"></p>
    </form>
    <ul class="replies" id="replies"></ul>
  </div>
  <div class="tab-pane" id="pane-likes" aria-controlled-by="tab-likes">
    <h3>Likes</h3>
    <ul class="replies replies--short" id="likes"></ul>
  </div>
  <div class="tab-pane" id="pane-shares" aria-controlled-by="tab-shares">
    <h3>Shares</h3>
    <ul class="replies replies--short" id="shares"></ul>
  </div>
</div>

<template id="reply-template">
  <li class="h-entry">
    <div class="reply reply--large h-card p-author">
      <img class="u-photo" src="" />
      <div>
        <a class="reply__author p-name" href=""></a>
      </div>
      <div class="reply__meta">
        <a class="reply__date u-url dt-published" href=""></a>
      </div>
      <div class="content reply__content"></div>
    </div>
  </li>
</template>

<template id="like-template">
  <li class="h-entry">
    <div class="reply reply--like h-card p-author">
      <img class="u-photo" src="" />
      <a class="reply__author p-name" href=""></a>
      <a class="reply__date u-url dt-published" href=""></a>
    </div>
  </li>
</template>

<script type="text/javascript">
/*
  document.addEventListener('DOMContentLoaded', function () {
    loadWebmentions({{ .Permalink }}, {{ .Aliases }});
  });
*/
</script>
