<div class="note note--list h-entry" data-href="{{ .Permalink }}">
  <div class="note__date">
    <a class="u-url dt-published" href="{{ .Permalink }}">{{ dateFormat "3:04 PM MST • 02 Jan 2006" .Date.Local}}</a>
  </div>
  {{ partial "in-reply-to" . }}
  {{ partial "repost-of" . }}
  {{ partial "like-of" . }}
  {{ partial "bookmark-of" . }}
  {{ if .Content }}
  <div class="note__body e-content show-embeds">
    {{ partial "photo" . }}
    {{ .Content }}
    {{ partial "bookmark-of-link" . }}
  </div>
  {{ end }}
</div>
