<div class="note-highlight">
  <div class="note-highlight__body">
    {{ partial "in-reply-to" . }}
    {{ partial "repost-of" . }}
    {{ partial "like-of" . }}
    <p class="post-date post-date--note">
      <date class="dt-published">{{ dateFormat "3:04 PM MST • 02 Jan 2006" .Date.Local }}</date>
    </p>
    <main class="article show-embeds e-content">
      {{ partial "photo.html" . }}
      {{ .Content }}
      <data class="p-bridgy-omit-link" value="false"></data>
      <a href="https://brid.gy/publish/twitter"></a>
      <a href="https://fed.brid.gy/"></a>
    </main>
  </div>
  <div class="note-highlight__footer">
    {{ if not (eq .Section "likes") }}
      {{ partial "note-interactions.html" . }}
    {{ end }}
  </div>
</div>
