<div class="note-highlight">
  <article class="note-highlight__body">
    {{ partial "in-reply-to" . }}
    {{ partial "repost-of" . }}
    {{ partial "like-of" . }}
    {{ partial "bookmark-of" . }}
    <p class="post-date post-date--note">
      <a class="u-url" href="{{ .Permalink }}"><date class="dt-published">{{ dateFormat "3:04 PM MST • 02 Jan 2006" .Date.Local }}</date></a>
    </p>
    <main class="article show-embeds e-content">
      {{ partial "photo.html" . }}
      {{ .Content }}

      {{ partial "bookmark-of-link" . }}
      {{ partial "syndications.html" . }}
    </main>
  </article>
  <aside class="note-highlight__footer">
    {{ if not (eq .Section "likes") }}
      {{ partial "note-interactions.html" . }}
    {{ end }}
  </aside>
</div>
