{{ with $.Param "mf-photo" }}
  {{ range . }}
    {{ $prefix := "https://res.cloudinary.com/keithjgrant/image/fetch/c_scale,f_auto," }}
    {{ $path := strings.TrimPrefix "https://keithjgrant.com/static" . }}
    <img
      sizes="(min-width: 700px) 600px, 100vw"
      srcset="
        {{$prefix}}w_640/https://keithjgrant.com{{$path}} 320w,
        {{$prefix}}w_960/https://keithjgrant.com{{$path}} 480w,
        {{$prefix}}w_1200/https://keithjgrant.com{{$path}} 600w"
       src="{{$prefix}}w_600/https://keithjgrant.com{{$path}}"
       alt="{{with $.Param "mf-photo-alt"}}{{ . }}{{ end }}">
  {{ end }}
{{ end }}
