<article>
  {{ if $.Param "mf-bookmark-of" }}
    {{ $linkUrl := index ($.Param "mf-bookmark-of") 0 }}
    <h1 class="main-title p-name"><a class="u-url" href="{{ $linkUrl }}">
      {{ .Title }}
    </a></h1>
  {{ else }}
    <h1 class="main-title p-name"><a class="u-url" href="{{ .Permalink }}">
      {{ .Title }}
    </a></h1>
  {{ end }}


  {{ partial "in-reply-to" . }}
  {{ partial "repost-of" . }}
  {{ partial "like-of" . }}
  <p class="post-date"><date class="dt-published">{{ dateFormat "02 Jan 2006" .Date.Local}}</date></p>

  {{ if .Params.image }}
    <img class="banner-image" src="{{ .Params.image.url }}" alt="{{ .Params.image.alt }}"{{if .Params.image.align}} style="object-position: {{.Params.image.align}}"{{end}}>
  {{ end }}

  <div class="article show-embeds e-content">
    {{ .Content }}
  </div>

  {{ with $.Param "mf-bookmark-of" }}
    {{ range . }}
      <p class="mb-md"><a href="{{ . }}" class="u-bookmark-of">Visit link</a></p>
    {{ end }}
  {{ end }}
</article>
{{ if not (eq ($.Param "disable-interactions") true)}}
  {{ if not (eq .Section "likes") }}
    {{ partial "post-interactions.html" . }}
  {{ end }}
{{ end }}

{{- if and .Params.image .Params.image.author -}}
  <p class="image-credit">Banner image by
    {{if .Params.image.authorUrl}}
      <a href="{{ .Params.image.authorUrl }}">{{ .Params.image.author }}</a>.
    {{else}}
      {{.Params.image.author}}.
    {{- end -}}
  </p>
{{- end -}}
