
* {
  box-sizing: border-box;
}

body {
  background-color: $page-background;
  color: $font-color;
  font-family: $font-primary;
  line-height: 1.6;
}

a:link {
  color: $link-color;
  text-shadow: $link-color 0 0 1px;
}
a:visited {
  color: desaturate($link-color, 20%);
  text-shadow: $link-color 0 0 0;
}
a:hover {
  text-shadow: $link-color 0 0 1px;
}
a:active {
  color: saturate($link-color, 20%);
}
