$black: #222;
$white: #eee;
$brown: #6C6263;
$blue: #07A9EC;

$font-primary: 'Merriweather', Helvetica, Arial, sans-serif;
$font-header: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$page-background: $black;
$header-color: $brown;
$font-color: $white;
$brand-color: $blue;
