
// BASE

$deep-blue: #030b22;
$gray-light: #c9c6b2;
$blue-light: #9bd0d5;
$blue: #125568;
$blue-dark: #0d3358;
$blue-darker: $deep-blue;
$red: #f15d78;
$tan: #e0be9b;

$white: $gray-light;

$font-serif: 'Merriweather', Georgia, Garamond, serif;
$font-sans: 'Open Sans', Helvetica, Arial, sans-serif;

$font-light: 200;
$font-regular: 400;
$font-bold: 700;

$emdash: "\2014";

// DERIVED

$page-background: $deep-blue;
$font-color: $white;
$brand-color: $blue;

$link-color: $red;

$breakpoint: 42em;

$font-primary: $font-serif;
