<div class="backdrop"></div>
<header class="main-header h-card{{ if not (eq .URL "/") }} p-author{{ end }}">
  <h1 class="site-title">
    <a class="p-name u-url" href="http://keithjgrant.com">
      Keith J. Grant
    </a>
  </h1>
  <div class="avatar">
    <a href="/about">
      <img class="u-photo" src="/images/keithjgrant.jpg" alt="Photo of Keith" />
    </a>
    <div class="avatar__drawer">
      <div class="bio">
        <p>Atlanta, GA<br>United States</p>
        <dl>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/keithjgrant/" rel="me">@keithjgrant</a></dd>
          <dt>Github</dt>
          <dd><a href="https://github.com/keithjgrant" rel="me">keithjgrant</a></dd>
          <dt>Author</dt>
          <dd><a href="https://www.manning.com/books/css-in-depth">CSS in Depth</a></dd>
        </dl>
      </div>
    </div>
  </div>
</header>
<nav class="main-nav">
  <ul class="nav-links">
    <li><a href="/">
      <svg class="nav-links__icon"><use xlink:href="#icon-home"></use></svg>
      <span class="nav-links__label">Home</span>
    </a></li>
    <li><a href="/posts">
      <svg class="nav-links__icon"><use xlink:href="#icon-file"></use></svg>
      <span class="nav-links__label">posts</span>
    </a></li>
    <li><a href="/notes">
      <svg class="nav-links__icon"><use xlink:href="#icon-pencil"></use></svg>
      <span class="nav-links__label">Notes</span>
    </a></li>
    <li><a href="/social">
      <svg class="nav-links__icon"><use xlink:href="#icon-social"></use></svg>
      <span class="nav-links__label">Social</span>
    </a></li>
    <li><a href="/talks/all">
      <svg class="nav-links__icon"><use xlink:href="#icon-screen"></use></svg>
      <span class="nav-links__label">Talks</span>
    </a></li>
    <li><a href="/about">
      <svg class="nav-links__icon"><use xlink:href="#icon-user"></use></svg>
      <span class="nav-links__label">About</span>
    </a></li>
  </ul>
</nav>
