<!doctype html>
<html>
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "svg.html" }}
  {{ partial "header.html" }}

  <main class="post-container h-entry">
    <div class="focus-container">
      <h1 class="p-name">{{ .Title }}</h1>
    </div>
    <article class="post-body">
      <div class="e-content">
        {{ partial "in-reply-to" . }}
        <div class="content">
            {{ .Content }}
            <p class="post-date metadata"><date class="dt-published">{{ .Date.Format "02 Jan 2006 15:04:05" }}</date></p>
            {{ if eq .Section "notes" }}
              <a href="https://brid.gy/publish/twitter"></a>
            {{ end }}
        </div>
      </div>
      {{ partial "interactions.html" . }}
    </article>
  </main>

  {{ if eq .Section "posts" }}
    {{ partial "recent-posts.html" . }}
  {{ end }}
  {{ partial "footer.html" }}
</body>
</html>
