<!doctype html>
<html>
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "svg.html" }}
  {{ partial "header.html" }}

  <main class="post-container h-entry">
    <div class="focus-container">
      <h1 class="p-name">{{ .Title }}</h1>
    </div>
    <article class="post-body">
      {{ partial "in-reply-to" . }}
      <div class="content e-content">
          {{ .Content }}
          <p class="post-date metadata"><date class="dt-published">{{ .Date.Format "02 Jan 2006 15:04:05" }}</date></p>
      </div>
      {{ partial "interactions.html" . }}
    </article>
  </main>

  {{ if eq .Section "posts" }}
    {{ partial "recent-posts.html" . }}
  {{ end }}
  {{ partial "footer.html" }}
</body>
</html>
