main.l-main
  section.post
    if isPostPage
      h1.post-title!= post.title
    else
      h2.post-title
        a(href=post.url)!= post.title
    .post-content!= getPostContent(post.slug)
    date.post-date!= formatDate(post.date)
