.l-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, var(--green-1), var(--green-4));
  background-color: var(--green-2);
  min-height: calc(100vh - 4rem);
}

.l-homepage__inner {
  display: grid;
  grid-template-columns: 50% auto auto;
  grid-template-rows: auto 60vh auto;
  grid-template-rows: auto 60vmin auto;
  width: 100%;
  height: 100%;
  font-family: $sans-serif;
}

.welcome {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 1.56em 0;
  padding: 6rem 6rem 0 50%;
  border-radius: 50% / 1.6rem;
  color: var(--blue-3);
  background-repeat: no-repeat;
  background-size: auto 80vmin;
  background-color: white;
  background-image: url('/images/owl_x.jpg');
  background-position: 0% 50%;
  background-position: calc(50% - 20vw) 50%;
  font-family: $serif;
  font-size: 2rem;
  line-height: 1.2;
  text-align: right;
  box-shadow: 0 0 1em var(--blue-1);
}

.latest-post {
  grid-column: 2 / -1;
  grid-row: 3;
  padding: 1em 2em;
  border-radius: 0.4rem;
  background: var(--white);
  justify-self: start;
  align-self: end;

  & > h2 {
    margin: 0;
  }
}

.latest-post_subheading {
  color: var(--gray-4);
  font-size: 0.8em;
  text-align: right;
}

.latest-post__summary {
  color: var(--gray-3);
  font-family: $serif;
  font-weight: regular;
}
