doctype html
- title = 'Talks'
include @_head

body

  include @_nav
  .masthead
    h1.page-title Talks

  main.l-main
    section.post
      .post-content
        section
          h2 CSS from the future
          ul
            li: a(href="/talks/css-from-the-future") Slides
          p Upcoming: 22 October 2016, <a href="http://connect-js.com/">Connect.Tech</a>
        section
          h2 Stop thinking in pixels
          ul
            li: a(href="/talks/stop-thinking-in-pixels") Slides
            li <a href="https://www.youtube.com/watch?v=XanhwddQ-PM">Video</a> &mdash; 26 September 2016, <a href="https://2016.cssconf.com/">CSSConf</a>
            li [No video available] &mdash; 17 October 2016, <a href="http://2016.cssdevconf.com/">CSS Dev Conf</a>
        section
          h2 Rethinking base styles
          ul
            li: a(href="/talks/rethinking-base-styles") Slides
            li <a href="https://www.youtube.com/watch?v=EjiTIIs_3N4">Video</a> &mdash; 5 December 2015, <a href="http://2015.cssday.io/">CSSDay.io</a>
        section
          h2 CSS for engineers
          ul
            li: a(href="/talks/css-for-engineers/") Slides
            li <a href="https://www.youtube.com/watch?v=J-9Tn6AetYA">Video</a> &mdash; 16 October 2015, <a href="http://connect-js.com/">ConnectJS</a>
  include @_footer
