doctype html
include @_head

body

  include @_nav
  .masthead.masthead-small

  main.l-main
    section.post
      h1.post-title Talks
      .post-content
        section
          h2 <a href="/talks/css-for-engineers/">CSS for Engineers</a>
          p Presented at <a href="http://connect-js.com/">ConnectJS</a>, 16 October 2015<br>
        section
          h2 <a href="/talks/rethinking-base-styles">Rethinking Base Styles</a>
          p Presenting at <a href="http://cssday.io/">CSSDay.io</a>, 5 December 2015
  include @_footer
