doctype html
include @_head

body

  include @_nav
  .masthead.masthead-small

  main.l-main
    section.post
      h1.post-title Talks/Slides
      .post-content
        p I am a web developer, formerly of the Pacific Northwest, currently living in the Atlanta, GA area.  I work for <a href="https://theice.com">Intercontinental Exchange</a>, where, among other things, I wrote and maintain the CSS for <a href="https://nyse.com">The New York Stock Exchange</a>.  I am the author of <i>CSS in Action</i> (<a href="http://www.manning.com">Manning Publications</a>), available mid-2016.
        p I'm on Twitter as <a href="https://twitter.com/keithjgrant">@keithjgrant</a>.
        p.disclaimer Needless to say, views expressed here are my own and do not necessarily reflect those of my employer, my country, or my mother.
  include @_footer
