doctype html
- title = 'Talks'
include @_head

body

  include @_nav
  .masthead
    h1.page-title Talks

  main.l-main
    section.post
      .post-content
        section
          h2 CSS from the future
          p Will be presented at <a href="http://connect-js.com/">Connect.Tech</a>, 22 October 2016
        section
          h2 Stop thinking in pixels
          p Will be presented at <a href="https://2016.cssconf.com/">CSSConf</a>, 26 September 2016, and <a href="http://2016.cssdevconf.com/">CSS Dev Conf</a>, 17 October 2016
        section
          h2 Rethinking base styles
          ul
            li: a(href="/talks/rethinking-base-styles") Slides
            li: a(href="https://www.youtube.com/watch?v=EjiTIIs_3N4") Video
          p Presented at <a href="http://cssday.io/">CSSDay.io</a>, 5 December 2015
        section
          h2 CSS for engineers
          ul
            li: a(href="/talks/css-for-engineers/") Slides
            li: a(href="https://www.youtube.com/watch?v=J-9Tn6AetYA") Video
          p Presented at <a href="http://connect-js.com/">ConnectJS</a>, 16 October 2015
  include @_footer
