:root {
  --theme-color-dark: #1a3c4d;
  --bg-color: var(--theme-color-dark);
  --gray-1: hsl(210, 17%, 95%);
  --gray-4: hsl(210, 7%, 76%);
  --gray-6: hsl(210, 7%, 56%);
  --gray-7: hsl(210, 7%, 46%);
  --content-bg: white;
  --content-color: #333;
  --font-heading: Alfa Slab One, Garamond, serif;
  --font-body: Lato, sans-serif;
  --border-radius: 0.2rem;
  --link-color: #f59f00;
  --link-visited-color: #e67700;
  --link-hover-color: var(--theme-color-dark);
  --link-active-color: #ffd43b;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #1a3c4d;
  background-color: var(--bg-color);
  font-family: Lato, sans-serif;
  font-family: var(--font-body);
  line-height: 1.875;
  font-weight: 300;
  overflow-x: hidden;
}

.backdrop {
  width: 100%;
  height: 100vh;
  margin-bottom: -100vh;
  background-image:
    linear-gradient(to top, #1a3c4d, transparent 6em),
    url(/images/clouds.jpg);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% 6em, cover;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
}

blockquote {
  font-family: Alfa Slab One, Garamond, serif;
  font-family: var(--font-heading);
  color: hsl(210, 7%, 46%);
  color: var(--gray-7);
}
blockquote > cite {
  font-family: Lato, sans-serif;
  font-family: var(--font-body);
  color: var(--content-color);
}
blockquote > cite::before {
  content: "–";
}

a:link {
  color: #f59f00;
  color: var(--link-color);
}
a:visited {
  color: #e67700;
  color: var(--link-visited-color);
}
a:hover {
  color: var(--link-hover-color);
}
a:active {
  color: var(--link-active-color);
}

:first-child {
  margin-top: 0;
}
:first-child:empty {
  margin-bottom: 0;
}
:first-child:empty + * {
  margin-top: 0;
}
:last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: Alfa Slab One, Garamond, serif;
  font-family: var(--font-heading);
  font-weight: normal;
}

h1 a:link, h2 a:link, h3 a:link,
h1 a:visited, h2 a:visited, h3 a:visited {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 1.8em 0;
}

img {
  max-width: 100%;
}

/*
 * fluid typography
 */
.focus-container > h1,
.focus-container > h2 {
  font-size: 1.953rem;
}
.site-title,
.post-body h2 {
  font-size: 1.618rem;
  line-height: 1.2;
}
@media (min-width: 37.5em) {
  /*
  calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  */
  .focus-container > h1,
  .focus-container > h2 {
    font-size: calc(1.953rem + 2.283 * ((100vw - 27.5rem) / 42.5));
  }
  .site-title,
  .post-body h2 {
    font-size: calc(1.618rem + 0.368 * ((100vw - 27.5rem) / 42.5));
    line-height: 1.4;
  }
}
@media (min-width: 80em) {
  .focus-container > h1,
  .focus-container > h2 {
    font-size: 4.236rem;
  }
  .site-title,
  .post-body h2 {
    font-size: 1.25rem;
    line-height: inherit;
  }
}


.main-header {
  display: flex;
  align-items: flex-end;
  padding: 0.2em 1em;
  color: inherit;
  text-decoration: none;
  margin-bottom: 1em;
}

.site-title {
  flex: 1;
  margin: 0;
  font-size: 2em;
  font-family: var(--font-heading);
  font-weight: normal;
  color: white;
}
.site-title a {
  color: inherit;
  text-decoration: none;
}

.avatar {
  position: relative;
  margin-left: .8em;
  mix-blend-mode: luminosity;
  z-index: 1;
}
.avatar img {
  height: 3em;
  vertical-align: bottom;
}
.avatar a {
  color: white;
}
.avatar__drawer {
  position: absolute;
  top: 2em;
  right: 0;
  margin-top: 1em;
  opacity: 0;
  transform: translateX(100%);
  transition: /* all 0.3s ease-out; */
    transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity 0.3s linear;
}
.avatar:hover > .avatar__drawer,
.avatar > a:focus + .avatar__drawer {
  transform: none;
  opacity: 1;
}

.bio {
  margin-top: 1em;
  padding: 1em;
  min-width: 26ch;
  background: black;
  color: rgba(255, 255, 255, 0.8);
  font-size: .8em;
  text-align: right;
  border-radius: 0.3rem;
}
.bio > a {
  color: inherit;
}
@media (min-width: 45em) {
  .bio {
    background: rgba(0, 0, 0, 0.6);
  }
}

.focus-container {
  padding: 3em 1em 2em;
  margin: 0 auto;
  text-align: center;
  color: white;
  mix-blend-mode: overlay;
  transform: translateZ(0); /* fix occasional rendering jank in Chrome 56 */
}
.focus-container > h1,
.focus-container > h2 {
  /* fluid font-size defined above */
  max-width: 1000px; /* TODO convert to ems */
  letter-spacing: 0.02em;
  line-height: 1;
  font-family: var(--font-heading);
}
.focus-container--homepage {
  padding: 25vmin 1em;
  max-width: 1000px;
}

@media (min-width: 45em) {
  .focus-container > h1,
  .focus-container > h2 {
    margin: 0.5em auto 1em;
  }
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.nav-links > li {
  flex: 1;
  margin-bottom: 0.5em;
}
.nav-links > li > a {
  display: block;
  height: 100%;
  padding: 0.5em;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.nav-links > li + li {
  margin-left: 0.5em;
}

.nav-links__icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: -0.1em;
  transition: transform 0.2s ease-out;
}
.nav-links > li > a:hover > .nav-links__icon {
  transform: scale(1.5);
}
.nav-links__label {
  margin: 0 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav-links > li > a:hover > .nav-links__label {
  color: var(--link-color);
}

@media (max-width: 40em) {
  .nav-links > li > a {
    padding: 0.2em;
  }

  .nav-links__icon {
    display: none;
  }
}

@media (min-width: 45em) {
  .main-nav {
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.5s linear;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  .main-nav:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .nav-links > li {
    margin-bottom: 0;
  }

  .nav-links {
    display: block;
    padding-left: 0.8em;
  }

  .nav-links > li + li {
    margin: 0;
  }

  .nav-links > li > a {
    background: transparent;
    text-align: left;
  }

  .nav-links__label {
    display: inline-block;
    margin-right: 1em;
    opacity: 0;
    transition:
      transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28),
      opacity 0.5s ease-out,
      color 0.1s linear;
    transform: translateX(-1em);
  }
  .nav-links:hover .nav-links__label,
  .nav-links > li > a:focus > .nav-links__label {
    opacity: 1;
    transform: none;
  }
  .nav-links > li:nth-child(2) .nav-links__label { transition-delay: 0.05s; }
  .nav-links > li:nth-child(3) .nav-links__label { transition-delay: 0.1s; }
  .nav-links > li:nth-child(4) .nav-links__label { transition-delay: 0.15s; }
  .nav-links > li:nth-child(5) .nav-links__label { transition-delay: 0.2s; }
  .nav-links > li:nth-child(6) .nav-links__label { transition-delay: 0.25s; }
  .nav-links > li:nth-child(7) .nav-links__label { transition-delay: 0.3s; }

}

.post-title {
  padding: 2em 1em 1em;
  color: white;
  mix-blend-mode: overlay;
  text-shadow: 0.5em 0 0.5em #0002;
}
.post-title > h1,
.post-title > h2 {
  font-size: 4.6rem;
  letter-spacing: 0.02em;
  line-height: 1;
}

.post-body {
  background-image: linear-gradient(to bottom, transparent, white 2em);
  color: var(--content-color);
  padding: 3.05em 1.25em 1em;
  border-radius: 0.2em / 2em 2em 0.2em 0.2em;
  box-shadow: 0.3em 0.1em 0.3em #0002;
}
.post-body__item + .post-body__item {
  margin-top: 0.9em;
  border-top: 1px dashed var(--gray-4);
  padding-top: 0.9em;
}
.post-body__item > p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 45em) {
  .post-body {
    max-width: 800px; /* TODO convert to ems */
    margin: 0 auto 1em;
  }
}

.box {
  background: white;
  padding: 1em 1.25em;
  border-radius: 0.2em;
  box-shadow: 0.3em 0.1em 0.3em #0002;
}
@media (min-width: 45em) {
  .box {
    max-width: 800px;
    margin: 0 auto 1em;
  }
}

.post-date {
  margin: 2em 0;
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font-body);
}
.post-date::before {
  content: '\2014'; /* m-dash */
}

.post-interaction {
  margin-top: 2rem;
}
@media (min-width: 45em) {
  .post-interaction {
    margin-top: 3.05rem;
  }
}

.metadata {
  font-size: 0.8rem;
  color: var(--gray-6);
}
.metadata a {
  color: inherit;
}

.post-preview {
  display: grid;
  grid-template-columns: auto auto;
}
.post-preview__type {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.post-preview__date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;
}
.post-preview__content {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.loading-indicator {
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.loading-indicator .interaction-icon {
  animation: spin 1.5s linear infinite;
}
.loading-indicator svg {
  font-size: 1.25rem;
}
@media (min-width: 45em) {
  .loading-indicator {
    margin-top: 3.05rem;
  }
}

.tabs {
  display: flex;
}
.tabs > button {
  padding: 2em 0;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: var(--font-body);
  border: 1px solid #eee;
  border-width: 1px 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .15s linear;
}
.tabs > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.tabs > button:focus {
  outline: none;
  color: var(--link-color);
}
.tabs > button + button {
  border-left: 1px solid #eee;;
}
.tabs > button.is-active {
  border-bottom-color: transparent;
}
.tabs > button > svg {
  fill: currentColor;
}

.tab-pane {
  display: none;
  padding: 1em;
}
.tab-pane.is-active {
  display: block;
}

.interaction-icon {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}

.replies {
  list-style: none;
  padding-left: 0;
}

.reply {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem 0;
}
.reply:first-child {
  padding-top: 0;
}
.reply:last-child {
  padding-bottom: 0;
}
.reply + .reply {
  border-top: 1px solid var(--gray-1);
}
.reply > img {
  width: 100px;
  height: 100px;
}
a.reply__author {
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 700;
}
a.reply__date {
  margin-left: 1.25em;
  font-size: 0.8rem;
  color: var(--gray-6);
  text-decoration: none;
}
.reply__body {
  flex: 1;
  margin-left: 1.25rem;
}
.reply > {
  color: inherit;
}

.reply--like {
  display: flex;
  align-items: flex-end;
}
.reply--like > img {
  height: 2em;
  width: 2em;
}
.reply--like .reply__body {
  margin-bottom: -0.5em;
}
.reply--like .reply__author {
  font-size: 1rem;
}
.reply--like .reply__date {
  float: right;
  margin-top: 0.4em;
}

.inline-form {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--gray-1);
  padding-bottom: 1.25rem;
  font-size: 1rem;
}
.inline-form > label {
  display: block;
}
.inline-form__inputs {
  display: flex;
}
.inline-form__inputs > input {
  flex: 1;
}
.inline-form__inputs > button {
  flex-basis: 20ch;
  font-size: 0.8rem;
  margin-left: 0.8rem;
  background: #eee;
  border: #999 1px solid;
}

.bottom-container {
  padding: 0 1.25em 10em;
  background-image:
    linear-gradient(to bottom, #1a3c4d, transparent 6em),
    url(/images/clouds.jpg);
  background-position: top, center;
  background-repeat: no-repeat;
  background-size: 100% 6em, cover;
}
.bottom-container__inner {
  margin: 0 auto;
  max-width: 800px;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4), transparent);
  padding: 1.25em;
  border-radius: 1em;
}
.bottom-container h3 {
  color: var(--gray-1);
}

.iconlist {
  color: white;
}
.iconlist a {
  color: white;
}
@media (min-width: 45em) {
  .iconlist {
    padding-left: 0;
    list-style: none;
    display: flex;
  }
  .iconlist > li {
    position: relative;
    text-align: center;
    flex: 0 0 25%;
  }
  .iconlist > li:hover {
    animation: 0.3s wobble cubic-bezier(0.23, 0.9, 0.51, 1.23);
  }
  .iconlist a {
    text-decoration: none;
  }
  .iconlist__title {
    position: absolute;
    top: 50%;
    transform: translate(50%, -66%);
    left: 0;
    width: 50%;
    color: black;
    font-size: 0.618em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.3;
  }
}

.focus-cap {
  display: none;
}
@media (min-width: 45em) {
  .focus-cap {
    display: inline-block;
    width: 7em;
    height: 8em;
    fill: hsla(200, 5%, 60%, 0.6);
  }
}


/* utilities */
.is-hidden {
  display: none !important;
}

.split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
img.float-right {
  margin-left: 1em;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

twitterwidget,
.twitter-tweet-rendered {
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wobble {
  0% {
    transform: none
  }
  25% {
    transform: translate3d(1%,2%,0) rotate3d(0,0,1,-1deg)
  }
  50% {
    transform: translate3d(-2%,0,1%) rotate3d(0,0,1,1deg)
  }
  75% {
    transform: translate3d(-1%,0,0);
  }
  100% {
    transform: none
  }
}
