head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  title Keith J Grant
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name="theme-color", content="#9bd0d5")
  //- link(rel='apple-touch-icon', href='apple-touch-icon.png')
  link(rel="alternate", type="application/rss+xml", title="Keith J Grant", href="http://keithjgrant.com/feed.xml")
  //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,700|Forum', type='text/css')
  link(rel='stylesheet', href='/css/main.min.css')
  //- script(src='js/vendor/modernizr-2.8.3.min.js')
