$masthead-image: url(../images/atlanta-mist.jpg);
$bokeh-image: url(../images/blue-bokeh.jpg);
$masthead-mask: transparentize($blue-darker, .5);
$masthead-mask-dark: transparentize($blue-darker, .2);
$masthead-text: $gray-light;

.masthead {
  display: none;  // TODO: keep masthead ?

  color: $masthead-text;
  min-height: 78vh;
  padding: 2em;
  margin-bottom: 2em;
  background: $blue-darker $masthead-image center no-repeat;
  background-image: linear-gradient(to top, $masthead-mask,
    $masthead-mask), $masthead-image;
  background-size: cover;
}

.masthead-small {
  margin-bottom: -75vh;
  background-image: linear-gradient(to top, $masthead-mask-dark,
    $masthead-mask-dark), $masthead-image;
}

.masthead-content {
  animation: 1s blur-in ease-out;
  transform-origin: 15% 15%;
  padding: 0 1rem;

  > h1 {
    font-family: $font-serif;
    color: $blue-light;
    margin-top: 0;
    font-weight: $font-light;
  }

  a:link {
    text-shadow: $link-color 0 0 3px;
    text-decoration: none;
  }
  a:hover {
    text-shadow: $link-color 0 0 1px;
  }
}

@media screen and (min-width: $breakpoint) {
  .masthead {
    padding: 10vh 20% 2em;
  }
}
