$masthead-image: url(../images/atlanta-mist.jpg);
$bokeh-image: url(../images/blue-bokeh.jpg);
$masthead-mask: transparentize($blue-darker, .5);
$masthead-mask-dark: transparentize($blue-darker, .2);
$masthead-text: $gray-light;

.masthead {
  transform: rotate(5deg);
  margin: -2.6em -1em -1.6em;
  padding: 2.6em 1.6em 1.6em;
  text-align: right;
  box-shadow: $gray-2 0px 2px 2px;
  background-color: $gray-2;
  background-color: rgba(0, 0, 0, 0.07);  
}

.masthead-content {
  padding: 0 1rem;

  > h1 {
    font-family: $font-serif;
    color: $link-color;
    margin-top: 0;
    font-weight: $font-light;
  }

  a:link {
    text-decoration: none;
    font-weight: $font-light;
  }
}

@media screen and (min-width: $breakpoint) {
  .masthead {
    margin: -4.8em -10% -1.6em;
    padding: 4.8em 20% 1.6em 50%;
  }
}

.page-title {
  font-size: 2rem;
  font-family: $font-serif;
  margin: 0;
}
