.post {
  padding: 0 1rem;
}

.page-title,
.post .post-title {
  font-size: 2rem;
  font-family: $font-serif;
}

.post-date::before {
  content: $emdash + ' ';
}

.post {
  h1, h2, h3 {
    font-weight: $font-light;
    font-family: $font-serif;

    &::after {
      display: block;
      content: '';
      border-top: 2px solid $gray-2;
      margin-left: -50%;
      margin-right: -50%;
      transform: rotate(-1deg);
    }
    &:nth-child(odd)::after {
      transform: rotate(1deg) translateY(.3em);
    }
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
