.post {
  padding: 0 1rem;
}

.page-title,
.post-title {
  font-size: 1.5rem;
  font-weight: $font-light;
  font-family: $font-serif;
}

.post-date::before {
  content: $emdash + ' ';
}

.post {
  h1, h2, h3 {
    font-weight: $font-light;
    font-family: $font-serif;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
