
.pullquote {
  float: right;
  max-width: 50%;
}

.pullquote,
blockquote {
  position: relative;
  padding: 1em;
  margin: 0 0 0 .5em;
  font-family: $font-serif;
  font-weight: $font-light;

  &::before {
    position: absolute;
    top: -10%;
    left: -5%;
    height: 120%;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.1);
    transform: skewX(2deg);
    content: '';
  }
  &::after {
    content: '';
  }
}
