
.topnav {
  background-color: $blue-light;
  color: $white;
  font-family: $font-sans;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0 2em;

    > li {
      display: inline-block;

      a {
        display: block;
        position: relative;
        padding: .2em 1rem;
        // border-bottom: transparent 2px solid;
        color: $blue-dark;
        text-decoration: none;
        text-shadow: none;
        // transition: all .3s ease-in-out;

        &:after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: auto;
          width: 0%;
          content: '';
          background-color: $red;
          height: 2px;
          -webkit-transition: all .2s linear;
                  transition: all .2s linear;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .topnav > ul {
    padding: 0 20%;
  }
}
