@font-face {
  font-family: Linux Biolinum;
  font-weight: normal;
  src: url(linux/LinBiolinum_R.woff);
}

@font-face {
  font-family: Linux Biolinum;
  font-weight: bold;
  src: url(linux/LinBiolinum_RB.woff);
}

@font-face {
  font-family: Linux Libertine;
  font-weight: 400;
  src: url(linux/LinLibertine_R.woff);
}

@font-face {
  font-family: Linux Libertine;
  font-weight: 500;
  src: url(linux/LinLibertine_RZ.woff);
}

@font-face {
  font-family: Linux Libertine;
  font-weight: 600;
  src: url(linux/LinLibertine_RB.woff);
}

@font-face {
  font-family: Linux Libertine Display;
  font-weight: bold;
  src: url(linux/LinLibertine_DR.woff);
}

@font-face {
  font-family: Brela;
  font-weight: normal;
  src: url(brela/brelaregular.otf);
}

/*
Fira Sans Condensed + Martel*   - current fave
Poppins + Brela
Roboto Slab + Work Sans*
Proza Libre*+
Linux Biolinum + Brela - both humanist
Open Sans + Martel
*/
