
* {
  box-sizing: border-box;
}

body {
  background-color: $page-background;
  color: $font-color;
  font-family: $font-primary;
  font-size: 90%;
  line-height: 1.6;
}

a:link {
  color: $link-color;
  text-shadow: $link-color 0 0 1px;
  text-decoration: none;
}
a:visited {
  color: desaturate($link-color, 20%);
  text-shadow: $link-color 0 0 0;
}
a:hover {
  text-shadow: $link-color 0 0 1px;
}
a:active {
  color: $white;
}

code,
pre {
  padding: .2em .4em;
  font-size: .8rem;
  background-color: $blue-dark2;
}
pre code {
  padding: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
}

@media screen and (min-width: $breakpoint) {
  body {
    font-size: 110%;
  }

  code {
    font-size: .9rem;
  }
}

