
// BASE

$gray-light: #c9c6b2;
$blue-light: #9bd0d5;
$blue: #125568;
$blue-dark: #0d3358;
$blue-dark2: #061a37;
$blue-darker: #030b22;
$red: #f15d78;
$tan: #e0be9b;

$white: #fff;
$black: #333;

$gray-1: #f8f8f8;
$gray-2: #eee;
$gray-3: #e8e8e8;

// $font-serif: 'Merriweather', Georgia, Garamond, serif;
// $font-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-serif: PT Serif, Georgia, Garamond, serif;
$font-sans: Palanquin, Helvetica, Arial, sans-serif;


$font-light: 100;
$font-regular: 100;
$font-bold: 700;

$emdash: "\2014";
$left-quote: "\201c";
$right-quote: "\201d";

// DERIVED

$page-background: $white;
$font-color: $black;
$brand-color: $blue;

$link-color: #46494C;

$breakpoint: 42em;

$font-primary: $font-sans;
