doctype html
include _head

body

  include _nav

  header.masthead
    .masthead-content
      h1 Keith J Grant
      .bio JavaScript, CSS, UX, and the open web.
        .bio-twitter
          a(href="http://twitter.com/keithjgrant") @keithjgrant

  if posts.length
    - post = posts[0]
    include posts/_post-content


    //- script(src="js/main.js")
