<!doctype html>
<html lang="en">
<head>
  {{ partial "meta.html" . }}
</head>
<body class="h-feed">
  {{ partial "header.html" . }}

  <div class="list-bg">
    <h1 class="list-heading">{{ .Title }}</h1>
    <div class="l-notes-list">
      {{ $paginator := .Paginate (where .Site.Pages "Section" "in" (slice "replies" "likes")) }}
      {{ if $paginator.HasPrev }}
        <div class="l-notes-list__prev">
          <a rel="prev" href="{{$paginator.Prev.URL}}">load more posts</a>
        </div>
      {{ end }}
      {{ range $paginator.Pages }}
        <div class="l-notes-list__item">
          {{ partial "note-short.html" . }}
        </div>
      {{ end }}
      {{ if $paginator.HasNext }}
        <div class="l-notes-list__next">
          <a rel="next" href="{{$paginator.Next.URL}}">load more posts</a>
        </div>
      {{ end }}
    </div>
  </div>

  {{ partial "footer.html" }}
</body>
</html>
