:md
  CSS is accumulating quite an acronym-laden list of organizational methodologies. <a href="https://github.com/stubbornella/oocss/wiki">OOCSS</a>, <a href="https://smacss.com/">SMACSS</a>, <a href="http://getbem.com/">BEM</a>, <a href="https://twitter.com/itcss_io">ITCSS</a>, <a href="http://rscss.io/">RSCSS</a>. These are systems of rules and/or conventions for organizing and maintaining your CSS codebase.
