:md
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">CSSConf taught me a few things. The first one is the &quot;React world&quot; needs to build more bridges to the &quot;CSS world&quot;.</p>&mdash; Pete Hunt (@floydophone) <a href="https://twitter.com/floydophone/status/782314118757744640">October 1, 2016</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  There is a legitimate difference in understanding about CSS between an CSS-dev and a JS-dev. I realized this last year when the whole <a href="/posts/against-css-in-js.html">CSS-in-JS</a> discussion started, and I've been struggling to clearly articulate that difference ever since. I'm not sure I have the difference entirely nailed down, but
  
  * Devs doing CSS: UX Engineer
  * Rule of Least Power
