:md
  My book is finally for sale! The <abbr title="Manning Early Access Program">MEAP</abbr> is available on <a href="https://manning.com/books/css-in-depth">Manning’s website</a>. The first three chapters are available now, and others will be rolling out steadily (I’ve actually already completed drafts of six chapters at this point).
  
  Until the end of August, you can use my code <strong>mlgrant2</strong> for 50% off. Follow <a href="https://twitter.com/CSSinDepth">@CSSinDepth</a> on Twitter for updates.
