:md
  Well, this is a bit of an experiment... I've lost track of how many times I've started a redesign of my WordPress blog, only to give up after days of fiddling.  This is kind of silly, since I generally finish the *design* of my site fairly quickly, but get held up fighting with the implementation minutae.

  I blog very rarely.  I also occasionally want to host various other pages that don't necessarily need to fit with the theme of the rest of my site.  WordPress is really overkill for this.  What I really need is just some static hosting.  So I'm giving GitHub Pages a try.  Not only that, but I should be able to play with the design whenever I feel like, without too much time investment.

  So here's my new design.  It took me just a few days not only to build the site, but to also roll out some bare-bones blogging & deployment scripts in gulp; my database is a git repository.  I can blog in <a href="http://jade-lang.com/">Jade</a> or MarkDown.  I think my wordpress days may be done, at least for now.
