:md
  Apparently, <a href="http://www.benjaminmoore.com/en-us/for-your-home/benjamin-moore-color-trends-2016">Benjamin
  Moore</a> has declared the Color of the Year for 2016 to be "simply white". We have reached peak
  minimalism, y'all.

  So I'm steering into the skid. Here's my new design.
