.grid {
  position: absolute;
  left: 20vw;
  right: 20vw;
  overflow: hidden;
}
.grid-panel {
  background: $brown;
  height: 5.9vw;
  width: 10%;
  float: left;
  animation: pane-drop 1s cubic-bezier(0.93, -0.21, 0.32, 1.5);
  animation: pane-drop 1s cubic-bezier(0.72, -0.19, 0.64, 1.24);
}
