.masthead {
  height: 80vh;
  padding: 2em ;
  margin-bottom: 2em;
  background: $black url(../images/blue-bokeh.jpg) center no-repeat;
  background-size: cover;

  > h1 {
    color: $header-color;
    margin-top: 0;
  }
}
