<!doctype html>
<html lang="en-US">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <main class="l-error js-main">
    <div class="l-error__image">
      <img src="/images/owl-monocle.jpg" alt="A smart looking owl wearing a pink monocle and pink bow tie">
    </div>
    <div class="l-error__inner">
      <div>
        <h1>Not Found</h1>

        <p>Cheerio. I’m afraid that page is missing. Maybe one of these posts would interest you instead?</p>
        <div class="recent-posts">
          {{- $currentUrl := .Permalink -}}
          {{- range first 4 (where (where .Site.Pages "Section" "posts") ".Permalink" "!=" $currentUrl) -}}
            <a href="{{ .Permalink }}">
              {{- .Title -}}
            </a>
          {{- end -}}
        </div>
      </div>

    </div>
  </main>

  {{ partial "footer.html" }}
</body>
</html>
