<!doctype html>
<html lang="en-US">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <main class="l-homepage js-main">
    <div class="l-homepage__inner">
      <div class="welcome">
        <div>Hi, I’m Keith<br>I make things on the&nbsp;web</div>
      </div>
      {{ range first 1 (where .Site.Pages "Section" "posts") }}
        <link rel="prefetch" href="{{ .RelPermalink }}">
        <a class="latest-post" href={{ .RelPermalink }}>
          <div class="latest-post_subheading">Latest post</div>
          <h2>{{ .Title }}</h2>
        </a>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" }}
</body>
</html>
