<!doctype html>
<html lang="en-US">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <main class="l-homepage">
    <div class="l-homepage__inner">
      <div class="welcome">Hi, I’m Keith<br>I make things on the web</div>
      <div class="latest-post">
        <div class="latest-post_subheading">Latest post</div>
        {{ range first 1 (where .Site.Pages "Section" "posts") }}
          <h2>{{ .Title }}</h2>
        {{ end }}
      </h2>
    </div>
  </main>

  {{ partial "footer.html" }}
</body>
</html>
